<form id="expense-form" class="animated flipInY" novalidate (ngSubmit)="onSubmit(form.value)" [formGroup]="form">
  <h1>Welcome to the Expense Calculator</h1>
  <div *ngFor="let template of templates; let i=index">
    {{template.label}}:
    
    <mat-form-field>
      <input matInput [attr.type]="template.type" [formControlName]="template.key" />

      <mat-error *ngIf="!form.controls['name_0'].valid">
        Full name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <span *ngIf="template.type === 'number'">
      <button mat-raised-button color="primary" type="button" (click)="addExpense()">Add Expense</button>
    </span>
  </div>
  <div>
    <button mat-raised-button color="warn" type="button" (click)="addNewPerson()">Save and Create New Expense</button>
  </div>
  <div>
    <button mat-raised-button color="accent" type="submit" [disabled]="isDisabled()">Generate Owes</button>
  </div>
  <app-result [peopleWhoOwes]="peopleWhoOwes" 
  [personWhoReceivesOwe]="personWhoReceivesOwe"></app-result>
</form>